<!-- templates/tu_app/inventario_ordenes_trabajo.html -->

{% extends "adminlte/jefe_taller/base_jefe_taller.html" %}
{% load static %}
{% block body %}

<div class="container mt-5">
    <h2 class="text-center mb-4">Inventario órdenes de trabajo</h2>

    <!-- Gráfico de Barras -->
    <div class="row">
        <div class="col-md-12">
            <canvas id="graficoInventarioRepuestos"></canvas>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var ctx = document.getElementById('graficoInventarioRepuestos').getContext('2d');
        var datosInventario = [];

        // Obtén los datos del servidor
        fetch('{% url "datos_grafico" %}')
            .then(response => response.json())
            .then(data => {
                // Organiza los datos por mes y completa los valores faltantes con cero
                datosInventario = organizarDatosPorMes(data);
                console.log('Datos después de organizar:', datosInventario);

                var coloresMeses = obtenerColoresMeses();  // Función para obtener colores por mes

                var graficoInventarioRepuestos = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: datosInventario.map(point => point.month),
                        datasets: [{
                            label: 'En Proceso',
                            data: datosInventario.map(point => (point.estados.find(est => est.estado === 'en proceso') || { count: 0 }).count),
                            backgroundColor: 'rgba(255, 99, 132, 0.6)',
                            borderColor: 'rgba(255, 99, 132, 1)',
                            borderWidth: 1
                        },
                        {
                            label: 'Completadas',
                            data: datosInventario.map(point => (point.estados.find(est => est.estado === 'completada') || { count: 0 }).count),
                            backgroundColor: 'rgba(75, 192, 192, 0.6)',
                            borderColor: 'rgba(75, 192, 192, 1)',
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true,
                                // Definir el máximo en null para ajuste automático
                                max: null
                            }
                        }
                    }
                });
            });

        // Función para obtener colores por mes
        function obtenerColoresMeses() {
            var paletaColores = [
                'rgba(255, 99, 132, 0.6)',
                'rgba(255, 159, 64, 0.6)',
                'rgba(255, 205, 86, 0.6)',
                'rgba(75, 192, 192, 0.6)',
                'rgba(54, 162, 235, 0.6)',
                'rgba(153, 102, 255, 0.6)',
                'rgba(201, 203, 207, 0.6)',
                'rgba(255, 99, 132, 0.6)',
                'rgba(255, 159, 64, 0.6)',
                'rgba(255, 205, 86, 0.6)',
                'rgba(75, 192, 192, 0.6)',
                'rgba(54, 162, 235, 0.6)'
            ];

            var etiquetasServidor = datosInventario.map(point => point.month);
            var colores = etiquetasServidor.map((point, index) => paletaColores[index % paletaColores.length]);

            return colores;
        }

        // Función para organizar los datos por mes y completar con ceros
        function organizarDatosPorMes(data) {
            var datosPorMes = {};

            data.forEach(point => {
                var fecha = new Date(point.month);
                var mesKey = fecha.toISOString().slice(0, 7);
                if (!datosPorMes[mesKey]) {
                    datosPorMes[mesKey] = { month: mesKey, estados: [] };
                }

                datosPorMes[mesKey].estados.push({ estado: point.estado_orden_trabajo.toLowerCase(), count: point.count });
            });

            // Convertir la estructura de datos a un array ordenado por mes
            var datosOrdenados = Object.values(datosPorMes).sort((a, b) => new Date(a.month) - new Date(b.month));

            return datosOrdenados;
        }
    });
</script>

{% endblock %}
