{% extends "adminlte/gerente/base_gerente.html" %}
{% load static %}
{% block body %}

<div class="container mt-5">
    <h2 class="text-center mb-4">Inventario de Vehículos por Modelo y Precio</h2>

    <!-- Gráfico de Barras -->
    <div class="row">
        <div class="col-md-12">
            <canvas id="graficoInventarioVehiculos"></canvas>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var ctx = document.getElementById('graficoInventarioVehiculos').getContext('2d');
        var datosInventario = [];

        // Obtén los datos del servidor
        fetch('{% url "datos_grafico_autos" %}')
            .then(response => response.json())
            .then(data => {
                // Organiza los datos por modelo de vehículo y completa los valores faltantes con cero
                datosInventario = organizarDatosPorModeloVehiculo(data);
                console.log('Datos después de organizar:', datosInventario);

                var coloresVehiculos = obtenerColoresVehiculos();

                var graficoInventarioVehiculos = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: datosInventario.map(point => point.modelo_vehiculo),
                        datasets: [{
                            label: 'Total Precio por Modelo de Vehículo',
                            data: datosInventario.map(point => point.total_precio),
                            backgroundColor: coloresVehiculos,
                            borderColor: coloresVehiculos,
                            borderWidth: 1
                        },
                        {
                            label: 'Cantidad de Unidades por Modelo de Vehículo',
                            data: datosInventario.map(point => point.cantidad_unidades),
                            backgroundColor: coloresVehiculos.map(color => color.replace('0.6', '0.3')),
                            borderColor: coloresVehiculos.map(color => color.replace('0.6', '1')),
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true,
                                stacked: false  // Cambiado a false para evitar el apilado
                            }
                        }
                    }
                });
            });

        // Función para obtener colores por modelo de vehículo
        function obtenerColoresVehiculos() {
            var paletaColores = [
                'rgba(255, 99, 132, 0.6)',
                'rgba(255, 159, 64, 0.6)',
                'rgba(255, 205, 86, 0.6)',
                'rgba(75, 192, 192, 0.6)',
                'rgba(54, 162, 235, 0.6)',
                'rgba(153, 102, 255, 0.6)',
                'rgba(201, 203, 207, 0.6)',
                'rgba(255, 99, 132, 0.6)',
                'rgba(255, 159, 64, 0.6)',
                'rgba(255, 205, 86, 0.6)',
                'rgba(75, 192, 192, 0.6)',
                'rgba(54, 162, 235, 0.6)'
            ];

            var etiquetasServidor = datosInventario.map(point => point.modelo_vehiculo);
            var colores = etiquetasServidor.map((point, index) => paletaColores[index % paletaColores.length]);

            return colores;
        }

        // Función para organizar los datos por modelo de vehículo y completar con ceros
        function organizarDatosPorModeloVehiculo(data) {
            var datosPorModeloVehiculo = {};

            data.forEach(point => {
                var modeloVehiculoKey = point.modelo_vehiculo;
                if (!datosPorModeloVehiculo[modeloVehiculoKey]) {
                    datosPorModeloVehiculo[modeloVehiculoKey] = { modelo_vehiculo: modeloVehiculoKey, total_precio: 0, cantidad_unidades: 0 };
                }

                datosPorModeloVehiculo[modeloVehiculoKey].total_precio += point.total_precio;
                datosPorModeloVehiculo[modeloVehiculoKey].cantidad_unidades += point.cantidad_unidades;
            });

            // Convertir la estructura de datos a un array ordenado por modelo de vehículo
            var datosOrdenados = Object.values(datosPorModeloVehiculo).sort((a, b) => b.total_precio - a.total_precio);

            return datosOrdenados;
        }
    });
</script>

{% endblock %}
