{% extends "adminlte/gerente/base_gerente.html" %}
{% load static %}
{% block body %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Modificar Sucursal</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Modificar Sucursal</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <form action="{% url 'editar_sucursal' codigo_sucursal=sucursal.codigo_sucursal %}" method="post">
        
        {% csrf_token %}
        <div class="row">
          <div class="col-md-6">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Sucursal</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div class="form-group">
                  <label for="codigo_sucursal">Código Sucursal</label>
                  <input type="text" id="codigo_sucursal" name="codigo_sucursal" class="form-control"
                    placeholder="Código Sucursal" value="{{ sucursal.codigo_sucursal }}" readonly>
                </div>
                <div class="form-group">
                  <label for="nombre_sucursal">Nombre Sucursal</label>
                  <input type="text" id="nombre_sucursal" name="nombre_sucursal" class="form-control"
                    placeholder="Nombre Sucursal" value="{{ sucursal.nombre_sucursal }}" required>
                </div>
                <div class="form-group">
                  <label for="ciudad_sucursal">Ciudad Sucursal</label>
                  <input type="text" id="ciudad_sucursal" name="ciudad_sucursal" class="form-control"
                    placeholder="Ciudad Sucursal" value="{{ sucursal.ciudad_sucursal }}">
                </div>
                <div class="form-group">
                  <label for="telefono_sucursal">Teléfono Sucursal</label>
                  <input type="text" id="telefono_sucursal" name="telefono_sucursal" class="form-control"
                    placeholder="Teléfono Sucursal" value="{{ sucursal.telefono_sucursal }}">
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <a href="{% url 'vis_eli_sucursal' %}" class="btn btn-secondary">Cancelar</a>
            <input type="submit" value="Guardar Cambios" class="btn btn-success float-right">
          </div>
        </div>
      </form>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}

