{% extends "adminlte/gerente/base_gerente.html" %}
{% load static %}
{% block body %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Modificar Vendedor</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Modificar Vendedor</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
    <form action="{% url 'editar_vendedor' %}" method="post">
      {% csrf_token %}
      <div class="row">
        <div class="col-md-6">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Vendedores</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="form-group">
                <select id="id_vendedor" name="id_vendedor" class="form-control custom-select">
                  <option selected disabled>Seleccione un id_vendedor</option>
                  {% for vendedor in vendedores %}
                  <option value="{{ vendedor.id_vendedor }}">{{ vendedor.id_vendedor }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <select id="id_gerente" name="id_gerente" class="form-control custom-select">
                  <option selected disabled>Seleccione un gerente</option>
                  {% for gerente in gerentes %}
                  <option value="{{ gerente.id_gerente }}">{{ gerente.id_gerente }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <select id="codigo_sucursal" name="codigo_sucursal" class="form-control custom-select">
                  <option selected disabled>Seleccione un codigo de sucursal</option>
                  {% for sucursal in sucursales %}
                  <option value="{{ sucursal.codigo_sucursal }}">{{ sucursal.codigo_sucursal }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label for="inputName">Nombre vendedor</label>
                <input type="text" id="nombre_vendedor" name = "nombre_vendedor" class="form-control">
              </div>
              <div class="form-group">
                <label for="inputName">Email vendedor</label>
                <input type="text" id="email_vendedor" name = "email_vendedor" class="form-control">
              </div>
              <div class="form-group">
                <label for="inputName">Telefono vendedor</label>
                <input type="num" id="telefono_vendedor" name = "telefono_vendedor" class="form-control">
              </div>
              <div class="form-group">
                <label for="inputName">Direccion vendedor</label>
                <input type="text" id="direccion_vendedor" name = "direccion_vendedor" class="form-control">
              </div>
              <div class="form-group">
                <label for="inputName">Clave</label>
                <input type="text" id="pass_field" name = "pass_field" class="form-control">
              </div>
           
              
              
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        
      </div>
      <div class="row">
        <button type="button" class="btn btn-tool"  title="Collapse">  
        </button>
        <div class="col-12">
          <a href="#" class="btn btn-secondary">Cancelar</a>
          <input type="submit" value="Guardar Cambios" class="btn btn-success float-right">
        </div>
      </div>
    </section>
    
 
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}   
