{% extends "adminlte/gerente/base_gerente.html" %}
{% load static %}
{% block body %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Vendedores</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Visualizar/Eliminar</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="card">
        
        <!-- /.card-header -->
        <div class="container mt-4">
          <h2>Visualizar/Eliminar Vendedores</h2>
          <table class="table table-bordered table-striped">
              <thead>
                  <tr>
                      <th>id vendedor</th>
                      <th>id gerente</th>
                      <th>codigo sucursal</th>
                      <th>nombre vendedor</th>
                      <th>Telefono Vendedor</th>
                      <th>Email vendedor</th>
                  </tr>
              </thead>
              <tbody>
                  {% for vendedor in vendedores %}
                  <!-- Los datos de la tabla van aquí -->
                  <tr>
                      <td>{{ vendedor.id_vendedor }}</td>
                      <td>{{ vendedor.id_gerente }}</td>
                      <td>{{ vendedor.codigo_sucursal }}</td>
                      <td>{{ vendedor.nombre_vendedor }}</td>
                      <td>{{ vendedor.telefono_vendedor }}</td>
                      <td>{{ vendedor.email_vendedor }}</td>
                      <td>
                        <form action="{% url 'eliminar_vendedor' %}" method="post">
                          {% csrf_token %}
                          <input type="hidden" name="id_vendedor" value="{{ vendedor.id_vendedor }}">
                          <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                        </form>
                      </td>
                  </tr>
                  <!-- Repite filas similares para más datos -->
                  {% endfor %}
              </tbody>
          </table>
      </div>
        <!-- /.card-body -->

      </div>
      
      
    </section>
    <!-- /.content -->
  </div>
{% endblock %}   



