{% extends "adminlte\vendedor\base_vendedor.html" %}
{% load static %}
{% block body %}
    <!-- Main content -->
    <section class="content">
        <div class="card">
            <!-- /.card-header -->
            <div class="container mt-4 text-left">
                <h2>Visualizar Vehiculos</h2>
                <input class="form-control mb-3" id="buscador" type="text" placeholder="Buscar por Modelo de vehiculo...">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped" style="font-size: 12px;">
                        <thead>
                            <tr>
                                <th>Código Vehiculo</th>
                                <th>ID Gerente</th>
                                <th>Código Sucursal</th>
                                <th>Número Factura</th>
                                <th>Número Cotización</th>
                                <th>Modelo Vehiculo</th>
                                <th>Precio Vehiculo</th>
                                <th>Descripcion Vehivulo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Los datos de la tabla van aquí -->
                            {% for repuesto in repuestos %}
                                <tr>
                                    <td>{{ vehiculo.codigo_vehiculo }}</td>
                                    <td>{{ vehiculo.id_gerente }}</td>
                                    <td>{{ vehiculo.codigo_sucursal }}</td>
                                    <td>{{ vehiculo.numero_factura }}</td>
                                    <td>{{ vehiculo.numero_cotizacion }}</td>
                                    <td><input type="text" name="modelo_vehiculo" class="editableField form-control" value="{{ vehiculo.modelo_vehiculo }}" disabled></td>
                                    <td><input type="text" name="precio_vehiculo" class="editableField form-control" value="{{ vehiculo.precio_vehiculo }}" disabled></td>
                                    <td><input type="text" name="descripcion_vehiculo" class="editableField form-control" value="{{ vehiculo.descripcion_vehiculo }}" disabled></td>
                                </tr>
                            {% endfor %}
                            <!-- Repite filas similares para más datos -->
                        </tbody>
                    </table>
                </div>
            </div>

            <script>
                // Buscador
                var buscador = document.getElementById('buscador');
                buscador.addEventListener('input', function () {
                    var term = buscador.value.trim().toLowerCase();
                    var filas = document.querySelectorAll('.table tbody tr');

                    filas.forEach(function (fila) {
                        var modeloVehiculo = fila.querySelector('td:nth-child(1)').textContent.toLowerCase();

                        if (modeloVehiculo.includes(term)) {
                            fila.style.display = ''; // Muestra la fila si hay coincidencia
                        } else {
                            fila.style.display = 'none'; // Oculta la fila si no hay coincidencia
                        }
                    });
                });
            </script>
            <!-- /.card-body -->
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock %}