{% extends "adminlte/jefe_taller/base_jefe_taller.html" %}
{% load static %}
{% block body %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-12">
          <div class="col-sm-12">
            <h1>Agregar Cliente</h1>
          </div> 

    <section class="content">
    <form action="{% url 'agregar_cliente_jefe_taller' %}" method="post">
      {% csrf_token %}
      <div class="row">
        <div class="col-md-14">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Clientes</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="form-group">
                <label for="inputName">id_cliente</label>
                <input type="text" id="id_cliente" name="id_cliente" class="form-control" placeholder="id_cliente">
              </div>
              <div class="form-group">
                <label for="inputName">id_gerente</label>
                <select id="id_gerente" name="id_gerente" class="form-control custom-select">
                  <option selected disabled>Seleccione un id gerente</option>
                  {% for gerente in gerentes %}
                  <option value="{{ gerente.id_gerente }}">{{ gerente.id_gerente }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label for="inputName">id_vendedor</label>
                <select id="id_vendedor" name="id_vendedor" class="form-control custom-select">
                  <option selected disabled>Seleccione un id vendedor</option>
                  {% for vendedor in vendedores %}
                  <option value="{{ vendedor.id_vendedor }}">{{ vendedor.id_vendedor }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label for="inputName">id_jefe taller</label>
                <select id="id_jefe_taller" name="id_jefe_taller" class="form-control custom-select">
                  <option selected disabled>Seleccione un jefe taller</option>
                  {% for jefe in jefes %}
                  <option value="{{ jefe.id_jefe_taller }}">{{ jefe.id_jefe_taller }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label for="inputName">Nombre clientes</label>
                <input type="text" id="nombre_cliente" name="nombre_cliente" class="form-control" placeholder="nombre_cliente">
              </div>
              <div class="form-group">
                <label for="inputName">Direccion clientes</label>
                <input type="text" id="direccion_cliente" name="direccion_cliente" class="form-control" placeholder="direccion_cliente">
              </div>
              <div class="form-group">
                <label for="inputName">Email clientes</label>
                <input type="text" id="email_cliente" name="email_cliente" class="form-control" placeholder="email_cliente">
              </div>
              <div class="form-group">
                <label for="inputName">Telefono clientes</label>
                <input type="text" id="telefono_cliente" name="telefono_cliente" class="form-control" placeholder="telefono_cliente">
              </div>
              
              
              
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        
      </div>
      <div class="row">
        <button type="button" class="btn btn-tool"  title="Collapse">  
        </button>
        <div class="col-12">
          <a href="#" class="btn btn-secondary">Cancelar</a>
          <input type="submit" value="Agregar Cliente" class="btn btn-success float-right">
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}   
