{% extends "adminlte/jefe_taller/base_jefe_taller.html" %}
{% load static %}
{% block body %}
  <!-- Content Wrapper. Contains page content -->
   <!-- Main content -->
   <section class="content">
   
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="card">
        
        <!-- /.card-header -->
        <div class="container mt-4">
          <h2>Visualizar/Eliminar Clientes</h2>
          <input class="form-control mb-3" id="buscador" type="text" placeholder="Buscar...">
          <div class="table-responsive">
            <table class="table table-bordered table-striped" style="font-size: 12px;">
              <thead>
                <tr>
                  <th>id_cliente</th>
                  <th>Nombre Cliente</th>
                  <th>Dirección Cliente</th>
                  <th>Email Cliente</th>
                  <th>Teléfono Cliente</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                {% for cliente in clientes %}
                <!-- Los datos de la tabla van aquí -->
                <tr>
                  <td>{{ cliente.id_cliente }}</td>
                  <td><input type="text" name="nombre_cliente" class="editableField form-control" value="{{ cliente.nombre_cliente }}" disabled></td>
                  <td><input type="text" name="direccion_cliente" class="editableField form-control" value="{{ cliente.direccion_cliente }}" disabled></td>
                  <td><input type="text" name="email_cliente" class="editableField form-control" value="{{ cliente.email_cliente }}" disabled></td>
                  <th><input type="text" name="telefono_cliente" class="editableField form-control" value="{{ cliente.telefono_cliente }}" disabled></th>
                  <td>
                    <form action="{% url 'eliminar_cliente_jefe_taller' %}" method="post">
                      {% csrf_token %}
                      <input type="hidden" name="id_cliente" value="{{ cliente.id_cliente }}">
                      <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                    </form>
                    
                    <a href="{% url 'editar_jefe_taller_cliente' id_cliente=cliente.id_cliente %}" class="btn btn-primary btn-sm">Editar</a>
                  
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <!-- /.card-body -->

      </div>
      
    </section>
    <!-- /.content -->
  </div>
  <script>
    // Buscador
    var buscador = document.getElementById('buscador');
    buscador.addEventListener('input', function () {
      var term = buscador.value.trim().toLowerCase();
      var filas = document.querySelectorAll('.table tbody tr');

      filas.forEach(function (fila) {
        var coincide = false;
        fila.querySelectorAll('td').forEach(function (celda, index) {
          // Verificar solo las columnas específicas (0 a 4)
          if (index <= 4 && celda.textContent.toLowerCase().includes(term)) {
            coincide = true;
          }
        });

        if (coincide) {
          fila.style.display = ''; // Muestra la fila si hay coincidencia
        } else {
          fila.style.display = 'none'; // Oculta la fila si no hay coincidencia
        }
      });
    });

    var editarBotones = document.querySelectorAll('.editarFila');
    var guardarBotones = document.querySelectorAll('.guardarCambios');

    editarBotones.forEach(function (boton) {
      boton.addEventListener('click', function () {
        // Habilitar campos de edición
        var fila = boton.closest('tr');
        fila.querySelectorAll('.editableField').forEach(function (campo) {
          campo.disabled = false;
        });
      });
    });

    guardarBotones.forEach(function (boton) {
      boton.addEventListener('click', function () {
        // Deshabilitar campos de edición y enviar datos al servidor
        var fila = boton.closest('tr');
        fila.querySelectorAll('.editableField').forEach(function (campo) {
          campo.disabled = true;
        });

        // También puedes enviar datos al servidor aquí utilizando una solicitud AJAX
      });
    });
</script>

{% endblock %}