{% extends "adminlte/jefe_taller/base_jefe_taller.html" %}
{% load static %}
{% block body %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Modificar Cliente</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Modificar Cliente</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <form action="{% url 'editar_jefe_taller_cliente' id_cliente=cliente.id_cliente %}" method="post">

        {% csrf_token %}
        <div class="row">
          <div class="col-md-6">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Clientes</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div class="form-group">
                  <label for="id_cliente">ID Cliente</label>
                  <input type="text" id="id_cliente" name="id_cliente" class="form-control" placeholder="ID Cliente"
                    value="{{ cliente.id_cliente }}" readonly>
                </div>
                <div class="form-group">
                  <label for="nombre_cliente">Nombre Cliente</label>
                  <input type="text" id="nombre_cliente" name="nombre_cliente" class="form-control"
                    placeholder="Nombre Cliente" value="{{ cliente.nombre_cliente }}" required>
                </div>
                <div class="form-group">
                  <label for="direccion_cliente">Dirección Cliente</label>
                  <input type="text" id="direccion_cliente" name="direccion_cliente" class="form-control"
                    placeholder="Dirección Cliente" value="{{ cliente.direccion_cliente }}">
                </div>
                <div class="form-group">
                  <label for="email_cliente">Email Cliente</label>
                  <input type="text" id="email_cliente" name="email_cliente" class="form-control"
                    placeholder="Email Cliente" value="{{ cliente.email_cliente }}">
                </div>
                <div class="form-group">
                  <label for="telefono_cliente">Teléfono Cliente</label>
                  <input type="text" id="telefono_cliente" name="telefono_cliente" class="form-control"
                    placeholder="Teléfono Cliente" value="{{ cliente.telefono_cliente }}">
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
        <div class="row">
          <button type="button" class="btn btn-tool" title="Collapse">  
          </button>
          <div class="col-12">
            <a href= "{% url 'vis_eli_cliente_jefe_taller' %}" class="btn btn-secondary">Cancelar</a>
            <input type="submit" value="Guardar Cambios" class="btn btn-success float-right">
          </div>
        </div>
      </form>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}
