{% extends "adminlte/gerente/base_gerente.html" %}
{% load static %}
{% block body %}
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Agregar Vehículos</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">agregar Vehículos</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
  
    <!-- Main content -->
    <section class="content">
    <form action="{% url 'agregar_vehiculo' %}" method="post">
      {% csrf_token %}
      <div class="row">
        <div class="col-md-6">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Detalles del Vehículo</h3>
  
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="form-group">
                <label for="inputName">Código Vehículo</label>
                <input type="text" id="codigoVehiculo" name="codigo" class="form-control" placeholder="Código del Vehículo">
              </div>
              <div class="form-group">
                <select id="codigo_sucursal" name="codigo_sucursal" class="form-control custom-select">
                  <option selected disabled>Seleccione la Sucursal</option>
                  {% for sucursal in sucursales %}
                  <option value="{{ sucursal.codigo_sucursal }}">{{ sucursal.nombre_sucursal }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <select id="id_gerente" name="id_gerente" class="form-control custom-select">
                  <option selected disabled>Seleccione el id gerente</option>
                  {% for gerente in gerentes %}
                  <option value="{{ gerente.id_gerente }}">{{ gerente.id_gerente }}</option>
                  {% endfor %}
              </select>
              
              </div>
              <div class="form-group">
                <select id="numero_factura" name="numero_factura" class="form-control custom-select">
                  <option selected disabled>Seleccione la factura</option>
                  {% for factura in facturas %}
                  <option value="{{ factura.numero_factura }}">{{ factura.numero_factura }}</option>
                  {% endfor %}
              </select>
              
              </div>
              <div class="form-group">
                <select id="numero_cotizacion" name="numero_cotizacion" class="form-control custom-select">
                  <option selected disabled>Seleccione la cotizacion</option>
                  {% for cotizacion in cotizaciones %}
                  <option value="{{ cotizacion.numero_cotizacion }}">{{ cotizacion.numero_cotizacion }}</option>
                  {% endfor %}
                </select>
              
              </div>
              <div class="form-group">
                <label for="colorVehiculo">Color Vehículo</label>
                <input type="text" id="colorVehiculo" name="color" class="form-control" placeholder="Color del Vehículo">
              </div>
              <div class="form-group">
                <label for="precioVehiculo">Precio Vehículo</label>
                <input type="number" id="precioVehiculo" name="precio" class="form-control" placeholder="Precio del Vehículo">
              </div>
              <div class="form-group">
                <label for="descripcionVehiculo">Descripción Vehículo</label>
                <textarea id="descripcionVehiculo" name="descripcion" class="form-control" rows="4" placeholder="Descripción del Vehículo"></textarea>
              </div>
              <div class="form-group">
                <label for="modeloVehiculo">Modelo Vehículo</label>
                <select id=" modelo_vehiculo" name="modelo" class="form-control custom-select">
                  <option selected disabled>Seleccione el Modelo</option>
                  {% for vehiculo in vehiculos %}
                  <option value="{{ vehiculo.modelo_vehiculo }}">{{ vehiculo.modelo_vehiculo }}</option>
                  {% endfor %}
                </select>
              </div>
              
              
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        
      </div>
      <div class="row">
        <div class="col-12">
          <a href="#" class="btn btn-secondary">Cancelar</a>
          <input type="submit" value="Agregar Nuevo Vehículo" class="btn btn-success float-right">
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


{% endblock %}   