{% extends "adminlte/gerente/base_gerente.html" %}
{% load static %}
{% block body %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Modificar Vehículos</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Modificar Vehículos</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <form action="{% url 'editar_vehiculo' codigo_vehiculo=vehiculo.codigo_vehiculo %}" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Detalles del Vehículo</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">

                            <div class="form-group">
                                <label for="codigoVehiculo">Código Vehículo</label>
                                <input type="text" id="codigoVehiculo" name="codigo_vehiculo" class="form-control"
                                    placeholder="Código del Vehículo" value="{{ vehiculo.codigo_vehiculo }}" readonly>
                            </div>
                            <div class="form-group">
                                <label for="colorVehiculo">Color Vehículo</label>
                                <input type="text" id="colorVehiculo" name="color_vehiculo" class="form-control"
                                    placeholder="Color del Vehículo" value="{{ vehiculo.color_vehiculo }}">
                            </div>
                            <div class="form-group">
                                <label for="precioVehiculo">Precio Vehículo</label>
                                <input type="number" id="precioVehiculo" name="precio_vehiculo" class="form-control"
                                    placeholder="Precio del Vehículo" value="{{ vehiculo.precio_vehiculo }}">
                            </div>
                            <div class="form-group">
                                <label for="descripcionVehiculo">Descripción Vehículo</label>
                                <textarea id="descripcionVehiculo" name="descripcion_vehiculo" class="form-control"
                                    rows="4" placeholder="Descripción del Vehículo">{{ vehiculo.descripcion_vehiculo }}</textarea>
                            </div>
                            <div class="form-group">
                                <label for="modeloVehiculo">Modelo Vehículo</label>
                                <input type="text" id="modeloVehiculo" name="modelo_vehiculo" class="form-control"
                                    placeholder="Modelo del vehículo" value="{{ vehiculo.modelo_vehiculo }}">
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <a href="{% url 'vis_eli' %}" class="btn btn-secondary">Cancelar</a>
                    <input type="submit" value="Agregar Nuevo Vehículo" class="btn btn-success float-right">
                </div>
            </div>
        </form>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock %}
