{% extends "adminlte/vendedor/base_vendedor.html" %}
{% load static %}
{% block body %}
<div class="my-5">
  <div class="p-5 text-center bg-body-tertiary">
    <div class="container py-5">
      <h1 class="text-body-emphasis">Bienvenido VENDEDOR</h1>
      <p class="col-lg-8 mx-auto lead">
        ¡Un nuevo día de liderazgo y éxito te espera!

Estamos encantados de verte de nuevo. Tu dedicación y visión son la fuerza impulsora detrás de nuestro éxito continuo. Mientras te preparas para otro día de decisiones importantes y liderazgo inspirador, recuerda que tu equipo está aquí para apoyarte en cada paso del camino.

¡Que tengas un día productivo y gratificante!
      </p>
    </div>
  </div>
</div>
{% endblock %}   