{% extends "adminlte/gerente/base_gerente.html" %}
{% load static %}
{% block body %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Clientes</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Visualizar/Eliminar</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="card">
        
        <!-- /.card-header -->
        <div class="container mt-4">
          <h2>Visualizar/Eliminar Clientes</h2>
          <table class="table table-bordered table-striped">
              <thead>
                  <tr>
                      <th>id_cliente</th>
                      <th>Nombre Clinete</th>
                      <th>Direccion Clinete</th>
                      <th>Email Clinete</th>
                      <th>Telefono Clinete</th>
                      <th>Acciones</th>
                  </tr>
              </thead>
              <tbody>
                  {% for cliente in clientes %}
                  <!-- Los datos de la tabla van aquí -->
                  <tr>
                      <td>{{ cliente.id_cliente }}</td>
                      <td>{{ cliente.nombre_cliente }}</td>
                      <td>{{ cliente.direccion_cliente }}</td>
                      <td>{{ cliente.email_cliente }}</td>
                      <th>{{ cliente.telefono_cliente }}</th>
                      <td>
                        <form action="{% url 'eliminar_cliente' %}" method="post">
                          {% csrf_token %}
                          <input type="hidden" name="id_cliente" value="{{ cliente.id_cliente }}">
                          <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                        </form>
                        
                      </td>
                  </tr>
                  <!-- Repite filas similares para más datos -->
                  {% endfor %}
              </tbody>
          </table>
      </div>
        <!-- /.card-body -->

      </div>
      
      
    </section>
    <!-- /.content -->
  </div>
{% endblock %}   

