{% extends "adminlte/jefe_taller/base_jefe_taller.html" %}
{% load static %}
{% block body %}
  <!-- Content Wrapper. Contains page content -->
  <!-- Main content -->
  <section class="content">
   
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="card">
      <!-- /.card-header -->
      <div class="container mt-4">
        <h2>Visualizar/Eliminar Órdenes de Trabajo</h2>
        <input class="form-control mb-3" id="buscador" type="text" placeholder="Buscar...">
        <div class="table-responsive">
          <table class="table table-bordered table-striped" style="font-size: 12px;">
            <thead>
              <tr>
                <th>Número de Orden</th>
                <th>Jefe de Taller</th>
                <th>Cliente</th>
                <th>Código de Vehículo</th>
                <th>Número de Factura</th>
                <th>Fecha de Inicio</th>
                <th>Fecha de Finalización</th>
                <th>Estado</th>
                <th>Descripción</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              {% for orden in ordenes_trabajo %}
                <tr>
                  <td>{{ orden.numero_orden_trabajo }}</td>
                  <td>{{ orden.id_jefe_taller}}</td>
                  <td>{{ orden.id_cliente }}</td>
                  <td>{{ orden.codigo_vehiculo }}</td>
                  <td>{{ orden.numero_factura }}</td>
                  <td>
                    <textarea class="editableField form-control" disabled>{{ orden.fecha_inicio_orden_trabajo|date:"Y-m-d" }}</textarea>
                  </td>
                  <td>
                    <textarea class="editableField form-control" disabled>{{ orden.fecha_final_orden_trabajo|date:"Y-m-d" }}</textarea>
                  </td>
                  <td>
                    <textarea class="editableField form-control" disabled>{{ orden.estado_orden_trabajo }}</textarea>
                  </td>
                  <td>
                    <textarea class="editableField form-control" disabled>{{ orden.descripcion_orden_trabajo }}</textarea>
                  </td>
                  <td>
                    <form action="{% url 'eliminar_ordenes_trabajo' %}" method="post">
                      {% csrf_token %}
                      <input type="hidden" name="numero_orden_trabajo" value="{{ orden.numero_orden_trabajo }}">
                      <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                    </form>
                    <button class="editarFila btn-primary btn-sm" data-id="{{ orden.numero_orden_trabajo }}" style="font-size: 10px;">Editar</button>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <button class="btn btn-danger btn-sm" id="limpiarCampos">Limpiar campos</button>
        <button class="btn btn-primary btn-sm guardarCambios">Guardar cambios</button>
      </div>
      <!-- /.card-body -->
    </div>
  </section>
  <!-- /.content -->
</div>

<script>
  var buscador = document.getElementById('buscador');
  buscador.addEventListener('input', function () {
    var term = buscador.value.trim().toLowerCase();
    var filas = document.querySelectorAll('.table tbody tr');

    filas.forEach(function (fila) {
      var coincide = false;
      fila.querySelectorAll('td').forEach(function (celda) {
        if (celda.textContent.toLowerCase().includes(term)) {
          coincide = true;
        }
      });

      if (coincide) {
        fila.style.display = ''; // Muestra la fila si hay coincidencia
      } else {
        fila.style.display = 'none'; // Oculta la fila si no hay coincidencia
      }
    });
  });

  var editarBotones = document.querySelectorAll('.editarFila');
  var guardarBotones = document.querySelectorAll('.guardarCambios');

  editarBotones.forEach(function (boton) {
    boton.addEventListener('click', function () {
      var fila = boton.closest('tr');
      fila.querySelectorAll('.editableField').forEach(function (campo) {
        campo.removeAttribute('disabled'); // Remove the 'disabled' attribute
      });
    });
  });

  guardarBotones.forEach(function (boton) {
    boton.addEventListener('click', function () {
      var fila = boton.closest('tr');
      fila.querySelectorAll('.editableField').forEach(function (campo) {
        campo.setAttribute('disabled', 'disabled'); // Add the 'disabled' attribute
      });

      // Puedes enviar datos al servidor aquí utilizando una solicitud AJAX
    });
  });
</script>
{% endblock %}
